body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #585555;
    color: #d4adad;
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  #logo {
    background-color: #6e6c6c;
    padding: 20px;
    text-align: center;
  }
  
  #logo h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #logo img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  

  
  #social {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  #social h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #social ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #social li {
    margin-bottom: 10px;
  }
  
  #social a {
    text-decoration: none;
  }
  
  footer {
    background-color: #333;
    color: #fafafa;
    padding: 10px;
  }